html {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 50px;
	background-color: #cccccc;
	background-image: url("../images/background2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

div {
	display: inline-block;
	position: absolute;
	margin-left: 20px;
}

img#pyramidgif{
	display: inline-block;
	margin-left: 20px;
	margin-top: 80px;
}

.fa-instagram {
	margin-top: 3.3em;
	margin-left: 4.5em;
}

a {
	color: black;
}

a:hover {
	color: lightgoldenrodyellow;
}

@media screen and (max-width: 800px) {
		html {
		margin: 0;
		font-family: 'Open Sans', sans-serif;
		font-style: italic;
		font-size: 25px;
		background-color: #cccccc;
		background-image: url("../images/linus.jpg");
		background-size: cover;
		background-position: 55% 50%;
		background-repeat: no-repeat;
		}

		div {
			display: inline-block;
			position: absolute;
			margin-left: 20px;
		}

		img#pyramidgif{
			display: inline-block;
			position: absolute;
			margin-top: 0;
			margin-left: 240px;
			max-width: 70px;
			max-height: 70px;
			display: inline-block;
		}

		.fa-instagram {
			margin-top: 2.2em;
			margin-left: 4em;
		}

		a {
			color: black;
		}

		a:hover {
			color: lightgoldenrodyellow;
		}