/*
Background	    #282a36	  40 42 54	     231° 15% 18%	Background Color
Current Line	#44475a	  68 71 90	     232° 14% 31%	Current Line Color
Selection	    #44475a	  68 71 90	     232° 14% 31%	Selection Color
Foreground   	#f8f8f2	  248 248 242    60° 30% 96%	Foreground Color
Comment	        #6272a4	  98 114 164	 225° 27% 51%	Comment Color
Cyan	        #8be9fd	  139 233 253	 191° 97% 77%	Cyan Color
Green       	#50fa7b	  80 250 123	 135° 94% 65%	Green Color
Orange        	#ffb86c	  255 184 108	 31° 100% 71%	Orange Color
Pink	        #ff79c6	  255 121 198	 326° 100% 74%	Pink Color
Purple	        #bd93f9	  189 147 249	 265° 89% 78%	Purple Color
Red	            #ff5555	  255 85 85      0° 100% 67%	Red Color
Yellow      	#f1fa8c	  241 250 140	 65° 92% 76%	Yellow Color
*/

html {
	margin: 0;
	padding: 0;
	font-family: 'Rubik';
	background-color: #282a36;
}

@media screen and (min-width: 800px){
	body{
		margin: 0;
		padding: 0;
	}
	header{
		display: flex;
		width: 100%;
		height: 200px;

	}
	div.title{
		margin: auto auto;
		color: #f8f8f2;
		font-family: 'Pacifico', cursive;
		font-size: 40px;
	}
	div.link-container{
		width: 100%;
		height: 400px;
	}
	a{
		display: flex;
		width: 10%;
		height: 10%;
		margin: 2em auto;
		text-decoration: none;
		color: #8be9fd;
	}
	a:visited{
		color: #8be9fd;
	}

	a:hover{
		color: #f8f8f2;
	}

	i{
		margin: auto auto;
		font-size: 3em;
	}
}

@media screen and (max-width: 800px) {
	body{
		margin: 0;
		padding: 0;
	}
	header{
		display: flex;
		width: 100%;
		height: 200px;

	}
	div.title{
		margin: auto auto;
		color: #f8f8f2;
		font-family: 'Pacifico', cursive;
		font-size: 40px;
	}
	div.link-container{
		width: 100%;
		height: 300px;
	}
	a{
		display: flex;
		width: 10%;
		height: 10%;
		margin: 2em auto;
		text-decoration: none;
		color: #8be9fd;
	}
	a:visited{
		color: #8be9fd;
	}

	a:hover{
		color: #f8f8f2;
	}

	i{
		margin: auto auto;
		font-size: 3em;
	}
}
